@page "/"

<div class="wrapper">
    <div class="row ">
        <div class="cogAnimation col col-lg-2">
            
        </div>
        <div class="homeContent col-md-auto">
            <div class="topMenu">

            </div>
            <div class="textBox">
                <div class="text">
                    <p>
                       My name is Magnus, I’m tester and hobby developer who always looking to learn something new. 
                        this site is one of my project and it will change and evolve to test out diffrent functions and 
                        UX solutions.
                        
                        I have now switched from React to Blazor with .Net Core
                    </p>
                    <p>Navigate via the buttons below to find out more about me. </p>
                </div>
            </div>
        </div>
        
    </div>
    
</div>