@page "/"

<div class="wrapper">
    <div class="row ">
        <div class="cogAnimation col col-lg-2">
            
        </div>
        <div class="homeContent col col-md-auto">
            
        </div>
        
    </div>
    
</div>